{{/* Generate grafana envs */}}
{{- define "grafana.envs" }}
env:
- name: POD_IP
  valueFrom:
    fieldRef:
      fieldPath: status.podIP
- name: NAMESPACE
  valueFrom:
    fieldRef:
      fieldPath: metadata.namespace
{{- if .Values.prometheusUrl }}
- name: "PROMETHEUS_URL"
  value: "{{ .Values.prometheusUrl }}"
{{- else if .Values.prometheus.enabled }}
- name: "PROMETHEUS_URL"
  value: "http://$(DRYCC_CONTROLLER_API_SERVICE_HOST):$(DRYCC_CONTROLLER_API_SERVICE_PORT)/v2/prometheus"
{{- end }}
- name: "VALKEY_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.valkey.enabled }}
- name: "STORAGE_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.storage.enabled }}
- name: "DATABASE_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.database.enabled }}
- name: "PASSPORT_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.passport.enabled }}
- name: "REGISTRY_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.registry.enabled }}
- name: "PROMETHEUS_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.prometheus.enabled }}
- name: "DRYCC_GATEWAY_SCHEME"
{{- if .Values.global.certManagerEnabled }}
  value: https
{{- else }}
  value: http
{{- end}}
- name: GF_DATABASE_TYPE
  value: postgres
{{- if (.Values.databaseUrl) }}
- name: GF_DATABASE_URL
  value: "{{ .Values.databaseUrl }}"
{{- else if .Values.database.enabled }}
- name: GF_DATABASE_USER
  valueFrom:
    secretKeyRef:
      name: database-creds
      key: user
- name: GF_DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: database-creds
      key: password
- name: GF_DATABASE_URL
  value: "postgres://$(GF_DATABASE_USER):$(GF_DATABASE_PASSWORD)@drycc-database.{{.Release.Namespace}}.svc.{{.Values.global.clusterDomain}}:5432/grafana"
{{- end }}
{{- if not (.Values.environment.GF_SECURITY_ADMIN_USER) }}
- name: "GF_SECURITY_ADMIN_USER"
  value: {{ randAlphaNum 32 }}
{{- end}}
{{- if not (.Values.environment.GF_SECURITY_ADMIN_PASSWORD) }}
- name: "GF_SECURITY_ADMIN_PASSWORD"
  value: {{ randAlphaNum 32 }}
{{- end}}
{{- if not (.Values.environment.GF_SECURITY_SECRET_KEY) }}
- name: "GF_SECURITY_SECRET_KEY"
  value: {{ randAlphaNum 32 }}
{{- end}}
- name: "GF_SERVER_ROOT_URL"
  value: $(DRYCC_GATEWAY_SCHEME)://drycc-grafana.{{ .Values.global.platformDomain }}
{{- if .Values.passport.enabled}}
- name: GF_AUTH_GENERIC_OAUTH_AUTH_URL
  value: $(DRYCC_GATEWAY_SCHEME)://drycc-passport.{{ .Values.global.platformDomain }}/oauth/authorize/
- name: GF_AUTH_GENERIC_OAUTH_TOKEN_URL
  value: $(DRYCC_GATEWAY_SCHEME)://drycc-passport.{{ .Values.global.platformDomain }}/oauth/token/
- name: GF_AUTH_GENERIC_OAUTH_API_URL
  value: $(DRYCC_GATEWAY_SCHEME)://drycc-passport.{{ .Values.global.platformDomain }}/oauth/userinfo/
- name: GF_AUTH_GENERIC_OAUTH_CLIENT_ID
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: drycc-passport-grafana-key
- name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: drycc-passport-grafana-secret
{{- else }}
- name: GF_AUTH_GENERIC_OAUTH_AUTH_URL
  value: {{ .Values.passportUrl }}/oauth/authorize/
- name: GF_AUTH_GENERIC_OAUTH_TOKEN_URL
  value: {{ .Values.passportUrl }}/oauth/token/
- name: GF_AUTH_GENERIC_OAUTH_API_URL
  value: {{ .Values.passportUrl }}/oauth/userinfo/
- name: GF_AUTH_GENERIC_OAUTH_CLIENT_ID
  value: "{{ .Values.passportKey }}"
- name: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
  value: "{{ .Values.passportSecret }}"
{{- end }}
- name: GF_UNIFIED_ALERTING_HA_PEERS
  value: "drycc-grafana.{{.Release.Namespace}}.svc.{{.Values.global.clusterDomain}}:9094"
- name: GF_UNIFIED_ALERTING_HA_ADVERTISE_ADDRESS
  value: "$(POD_IP):9094"
{{- range $key, $value := .Values.environment }}
- name: {{ $key }}
  value: {{ $value | quote }}
{{- end }}
{{- end }}
