{{/* Generate grafana envs */}}
{{- define "grafana.envs" }}
env:
- name: NAMESPACE
  valueFrom:
    fieldRef:
      fieldPath: metadata.namespace
- name: GF_DATABASE_TYPE
  value: postgres
{{- if (.Values.databaseUrl) }}
- name: GF_DATABASE_URL
  value: "{{ .Values.databaseUrl }}"
{{- else if .Values.database.enabled }}
- name: GF_DATABASE_USER
  valueFrom:
    secretKeyRef:
      name: database-creds
      key: user
- name: GF_DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: database-creds
      key: password
- name: GF_DATABASE_URL
  value: "postgres://$(GF_DATABASE_USER):$(GF_DATABASE_PASSWORD)@drycc-database.{{.Release.Namespace}}.svc.{{.Values.global.clusterDomain}}:5432/grafana"
{{- end }}
{{- if .Values.prometheusUrl }}
- name: "PROMETHEUS_URL"
  value: "{{ .Values.prometheusUrl }}"
{{- else if .Values.prometheus.enabled }}
- name: "PROMETHEUS_URL"
  value: "http://drycc-victoriametrics-vmselect.{{$.Release.Namespace}}.svc.{{$.Values.global.clusterDomain}}:8481/select/0/prometheus"
{{- end }}
- name: "BIND_PORT"
  value: "3000"
{{- if not (.Values.environment.DEFAULT_USER) }}
- name: "DEFAULT_USER"
  value: {{ randAlphaNum 32 }}
{{- end}}
{{- if not (.Values.environment.DEFAULT_USER_PASSWORD) }}
- name: "DEFAULT_USER_PASSWORD"
  value: {{ randAlphaNum 32 }}
{{- end}}
- name: "KUBERNETES_CLUSTER_DOMAIN"
  value: {{.Values.global.clusterDomain}}
{{- range $key, $value := .Values.environment }}
- name: {{ $key }}
  value: {{ $value | quote }}
{{- end }}
- name: "DRYCC_GRAFANA_URL"
{{- if .Values.global.certManagerEnabled }}
  value: https://drycc-grafana.{{ .Values.global.platformDomain }}
{{- else }}
  value: http://drycc-grafana.{{ .Values.global.platformDomain }}
{{- end }}
{{- if .Values.passport.enabled}}
- name: "DRYCC_PASSPORT_URL"
{{- if .Values.global.certManagerEnabled }}
  value: https://drycc-passport.{{ .Values.global.platformDomain }}
{{- else }}
  value: http://drycc-passport.{{ .Values.global.platformDomain }}
{{- end }}
- name: DRYCC_PASSPORT_KEY
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: drycc-passport-grafana-key
- name: DRYCC_PASSPORT_SECRET
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: drycc-passport-grafana-secret
{{- else }}
- name: DRYCC_PASSPORT_URL
  value: "{{ .Values.passportUrl }}"
- name: DRYCC_PASSPORT_KEY
  value: "{{ .Values.passportKey }}"
- name: DRYCC_PASSPORT_SECRET
  value: "{{ .Values.passportSecret }}"
{{- end }}
- name: "VALKEY_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.valkey.enabled }}
- name: "STORAGE_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.storage.enabled }}
- name: "DATABASE_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.database.enabled }}
- name: "PASSPORT_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.passport.enabled }}
- name: "REGISTRY_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.registry.enabled }}
- name: "PROMETHEUS_LOCATION"
  value: {{ ternary "on-cluster" "off-cluster" .Values.prometheus.enabled }}
{{- end }}
