{{/* Generate grafana envs */}}
{{- define "grafana.envs" }}
env:
- name: POD_IP
  valueFrom:
    fieldRef:
      fieldPath: status.podIP
- name: NAMESPACE
  valueFrom:
    fieldRef:
      fieldPath: metadata.namespace
{{- if (.Values.valkeyUrl) }}
- name: DRYCC_VALKEY_URL
  value: "{{ .Values.valkeyUrl }}"
{{- else if .Values.valkey.enabled }}
- name: DRYCC_VALKEY_PASSWORD
  valueFrom:
    secretKeyRef:
      name: valkey-creds
      key: password
- name: DRYCC_VALKEY_URL
  value: "redis://:$(DRYCC_VALKEY_PASSWORD)@drycc-valkey.{{.Release.Namespace}}.svc.{{.Values.global.clusterDomain}}:16379/0"
{{- end }}
- name: DRYCC_SERVICE_KEY
  valueFrom:
    secretKeyRef:
      name: controller-creds
      key: service-key
- name: "DRYCC_VICTORIAMETRICS_URL"
  value: "http://$(DRYCC_CONTROLLER_API_SERVICE_HOST):$(DRYCC_CONTROLLER_API_SERVICE_PORT)/v2/prometheus/drycc"
{{- if .Values.passport.enabled}}
- name: "DRYCC_PASSPORT_URL"
{{- if .Values.global.certManagerEnabled }}
  value: https://drycc-passport.{{ .Values.global.platformDomain }}
{{- else }}
  value: http://drycc-passport.{{ .Values.global.platformDomain }}
{{- end }}
- name: DRYCC_PASSPORT_KEY
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: drycc-passport-grafana-key
- name: DRYCC_PASSPORT_SECRET
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: drycc-passport-grafana-secret
{{- else }}
- name: DRYCC_PASSPORT_URL
  value: "{{ .Values.passportUrl }}"
- name: DRYCC_PASSPORT_KEY
  value: "{{ .Values.passportKey }}"
- name: DRYCC_PASSPORT_SECRET
  value: "{{ .Values.passportSecret }}"
{{- end }}
- name: GF_DATABASE_TYPE
  value: postgres
{{- if (.Values.databaseUrl) }}
- name: GF_DATABASE_URL
  value: "{{ .Values.databaseUrl }}"
{{- else if .Values.database.enabled }}
- name: GF_DATABASE_USER
  valueFrom:
    secretKeyRef:
      name: database-creds
      key: user
- name: GF_DATABASE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: database-creds
      key: password
- name: GF_DATABASE_URL
  value: "postgres://$(GF_DATABASE_USER):$(GF_DATABASE_PASSWORD)@drycc-database.{{.Release.Namespace}}.svc.{{.Values.global.clusterDomain}}:5432/grafana"
{{- end }}
- name: "GF_SECURITY_ADMIN_USER"
  valueFrom:
    secretKeyRef:
      name: grafana-creds
      key: admin-username
- name: "GF_SECURITY_ADMIN_PASSWORD"
  valueFrom:
    secretKeyRef:
      name: grafana-creds
      key: admin-password
- name: "GF_SERVER_ROOT_URL"
{{- if .Values.global.certManagerEnabled }}
  value: https://drycc-grafana.{{ .Values.global.platformDomain }}
{{- else }}
  value: http://drycc-grafana.{{ .Values.global.platformDomain }}
{{- end}}
- name: GF_UNIFIED_ALERTING_HA_PEERS
  value: "drycc-grafana.{{.Release.Namespace}}.svc.{{.Values.global.clusterDomain}}:9094"
- name: GF_UNIFIED_ALERTING_HA_ADVERTISE_ADDRESS
  value: "$(POD_IP):9094"
{{- range $key, $value := .Values.environment }}
- name: {{ $key }}
  value: {{ $value | quote }}
{{- end }}
{{- end }}
